agm-map {
  height: 300px;
}

#detailelement{
	  border-radius: 12px;
	  box-shadow: 10px 10px 5px #ddd;
	  border: 2px solid #fff;
	  margin:10px;

	  }
	  #detailrow{
	  }
	  #detailelement:hover{
	   border: 3px solid #fff;
	   background:#ADD8E6;
	  }